CREATE FUNCTION [dbo].[FN_APENAS_NUMEROS](@TEXTO VARCHAR(8000))
RETURNS VARCHAR(8000)
AS
BEGIN

	DECLARE	@RESULTADO VARCHAR(8000)

	SET @RESULTADO = ''

	;WITH SPLIT AS
	(
		SELECT 1 AS ID, SUBSTRING(@TEXTO, 1, 1) AS LETRA
		UNION ALL
		SELECT ID + 1, SUBSTRING(@TEXTO, ID + 1, 1)
		FROM SPLIT
		WHERE ID < LEN(@TEXTO)
	)
	SELECT @RESULTADO = @RESULTADO + (CASE WHEN LETRA LIKE '[0-9]' THEN LETRA ELSE '' END)
	FROM SPLIT
	OPTION(MAXRECURSION 0);

	 RETURN @RESULTADO

END